nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
  max-width: 700px;
	margin:auto
}
.nav-container{
  background-color: cornflowerblue;
}

.header {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.logo img{
  width: 50px;
  color: whitesmoke;
}

.greeting, .logo{
  display: flex;
  width: 200px;
  justify-content: center;
}
.greeting{
  align-items: center;
  justify-content: space-around;

  a{
    text-decoration: none;
    color: whitesmoke;
  }
  .logout-button{
    cursor: pointer;
    padding: 12px 16px;
  }
  .dropdown-username{
    padding: 10px;
  }
  .logout-button:hover{
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}


.dropdown {
  position: relative;
  // display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // padding: 12px 0px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

